<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <h1>사원정보</h1>
    <table>
      <tr>
        <td>사원번호</td>
        <td th:text="${emp.employeeId}"></td>
      </tr>
      <tr>
        <td>이름</td>
        <td th:text="${emp.firstName}"></td>
      </tr>
      <tr>
        <td>급여</td>
        <td th:class="${emp.salary}">
          [[${#numbers.formatDecimal(emp.salary, 3, 'COMMA', 2, 'POINT')}]]
        </td>
      </tr>
      <tr>
        <td>입사일자</td>
        <td th:text="${#dates.format(emp.hireDate, 'yyyy-MM')}"></td>
      </tr>
      <tr>
        <td>부서명</td>
        <td th:text="${emp.deptVO.departmentName}"></td>
      </tr>
    </table>
  </body>
</html>