<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">  <!--  layout:decorate="~{layout/layout}에 폴더명/파일명 경로작성. -->
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body layout:fragment="content"> <!-- 레이아웃 적용위치 -->
  <div class="container">
   <!-- 게시글 단건조회 시작 -->
   <div class="card mb-3 " style="width: 80rem;">
     <div class="card-body">
    <h5 class="card-title">게시글 정보</h5>
 
  <table class="table">
      <tr>
        <td>게시글번호</td>
        <td th:text="${board.bno}"></td>
      </tr>
       <tr>
        <td>작성자</td>
        <td th:text="${board.writer}"></td>
      </tr>
      <tr>
        <td>제목</td>
        <td th:text="${board.title}"></td>
      </tr>
      <tr>
        <td>내용</td>
        <td th:text="${board.content}"></td>
      </tr>
      <tr>
        <td>등록일</td>
        <td th:text="${#dates.format(board.regDate, 'yyyy-MM-dd')}"></td>
      </tr>
      <tr>
        <td>수정일</td>
        <td th:text="${ #dates.format(board.updateDate, 'yyyy-MM-dd')}"></td>
      </tr>
      <tr>
        <td>첨부파일</td>
        <td>
            <a th:href="|/filedown/${board.attach}|" th:text="${board.attach}"></a>  <!-- 파일다운 -->
            <img th:src="|/upload/${board.attach}|">   <!-- 이미지노출 -->
        </td>
        <td></td>
      </tr>
    </table>
    <!-- 게시글 단건조회 끝 -->
    </div> 
 </div>
    <!-- 댓글 시작 -->
      
<div class="card mb-3" style="width: 80rem;">
     <div class="card-body">
     <h5 class="card-title">댓글 목록</h5>
      <div id="replyList">
      	<div class="row border">
            <div class="col-lg-2">홍길동</div>
            <div class="col-lg-6">댓글내용</div>
            <div class="col-lg-4">
                 <button class="btn btn-primary btnReplyUpdateForm">수정</button>
                 <button class="btn btn-danger btnReplyDelete ">삭제</button>
           </div>
        </div> 
      </div>
      </div>
  </div>
  <!-- 댓글 끝 -->   
    <!-- 댓글 등록시작 -->
    <div class="mb-1">
    <form name="replyForm">
    	<input name="reply" >
    	<input name="replyer" placeholder="내용을 입력하세요">
    	<input name="bno" type="hidden" th:value="${board.bno}"> <!-- ${}는 th로 써줘야하니까 th:vlaue임 -->
    	<button type="button" class="btnReplyInsert">댓글저장</button>
    </form>
    <!-- 댓글 등록끝 -->
    </div>
  </div>
  </body>
  <script>
  replyInsert();
  replyList();
  
  /*-------------------------------------
  댓글 조회 ajax 호출   replyList() ->  replyListCallback() ->  replyMake()
  ---------------------------------------*/
  function replyList(){
	const bno = replyForm.bno.value;
  	const url = `/board/${bno}/reply`
  	fetch( url )
  	.then( result => result.json() )
  	.then( result => replyListCallback(result) )
  }


  /*-------------------------------------
  댓글 조회 콜백
  ---------------------------------------*/
  function replyListCallback(result){
  	const replys = document.querySelector("#replyList");
  	replys.innerHTML = "";
  	result.forEach(item => replys.insertAdjacentHTML("beforeend", replyMake(item)) );
  }
 
  /*-------------------------------------
  댓글 태그 생성
  ---------------------------------------*/
 function replyMake(item){
	  return `<div class="row border">
      <div class="col-lg-2">${item.replyer}</div>
      <div class="col-lg-6">${item.reply}</div>
      <div class="col-lg-4">
           <button type="button" data-rno="${item.rno}" class="btn btn-primary btnReplyUpdateForm">수정</button>
           <button type="button" data-rno="${item.rno}" class="btn btn-danger btnReplyDelete ">삭제</button>
     </div>
  </div> `;
  } 
 
  
  /*-------------------------------------
  등록 버튼 이벤트 지정
  ---------------------------------------*/	
  const url = "/reply";
  
  function replyInsert(){
  	document.querySelector(".btnReplyInsert").addEventListener("click", function(){

  		//파라미터 만들기
  		const reply = replyForm.reply.value;
  		const replyer = replyForm.replyer.value;
  		const bno = replyForm.bno.value;
  		const param = {reply, replyer, bno}  // 변수명과 필드명이 일치하면 생략가능. {reply : reply, replyer: replyer}
  		
  		//등록 요청  (Controller에 정의된 것과 일치 시켜줘야함.)
  		fetch(url, { //controller의 주소랑도 동일해야 함.   
  			method:"post",  //contrlller에 작성된 PostMapping or GetMapping이랑 일치시쳐줘야하고 
  			headers: {
  			      "Content-Type": "application/json",
  			      // 'Content-Type': 'application/x-www-form-urlencoded',
  			    },
  			body : JSON.stringify(param), //const const param = {reply, replyer, bno}을 JSON으로 보냄. 
  		})
  		.then( result => result.text() )
  		.then ( result => alert(result) ) 
  		//.then( result => replyList() )
  	})
  } 
   
  </script>
</html>